.custom-box-shadow {
  z-index: 1;
  position: relative;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  overflow: hidden;
}

.custom-box-shadow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}

.custom-box-shadow:hover::before {
  width: 100%;
}

@media screen and (min-width: 768px) {
  #home-screen-parent {
    width: calc(80vw - 48px);
  }
  #home-live-stream-chat {
    height: calc(50vh + 56px + 18rem);
  }
}


video {
  object-fit: cover;
}

#pulse {
  height: 150px;
  width: 150px;
  background: linear-gradient(#8a82fb, #407ed7);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 50px;
  color: #ffffff;
}
#pulse:before,
#pulse:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #8a82fb;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}
#pulse:before {
  animation: pulse 2s ease-out infinite;
}
#pulse:after {
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
